body{
	line-height: 1.5;
}

h1{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	padding: 20px;
}

body{
	background-color: #F2FFFC;
	font-family: "Crimson Text", "Times New Roman", serif;
}

img{
	box-sizing: border-box;
	border: 5px solid black;
	border-radius: 5px;
	margin-top: 5%;	
}

.img-esquerda{
	float: left;
	margin-left: 25%;
}

.img-direita{
	float: right;
	margin-right: 25%;
}

.botao{
		width: 10%;
		height: 5%;
		position: relative;
		background-color: #008080;
		border-bottom: 2px solid black;
		border-right: 2px solid black;
		border-radius: 5px;
		color: white;
		font-family: "Open Sans Condensed", "Arial", sans-serif;
		font-size: 20px;
}

.rodape{
	background-color: black;
	color: #F2FFFC;
	padding:20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.titulo-principal{
	top:0;
	width: 100%;
	font-size: 60px;
	text-align: center;
	background-color: #008080;
	color: white;
	margin: 0;
	padding: 25px;
	border-bottom: 10px solid black;
	text-transform: uppercase;
}